<!DOCTYPE html>

<html ng-app="app">
  <head>
    <title>This is a test page!</title>

    <!-- Load angular -->
    <script src="angular-localstore/scripts/angular.js"></script>
    <script src="angular-localstore/scripts/angular-cookies.js"></script>

    <!-- Load localStorage modules -->
    <script src="angular-localstore/src/angular-localstore.js"></script>
    <script src="angular-localstore/src/modules/localStorage.js"></script>
    <script src="angular-localstore/src/modules/cookieStorage.js"></script>

    <script src="angular-localstore/app/app.js"></script>
  </head>
  <body ng-controller="MasterController as vm">
    <div>
      <label for="storeKey">Key: </label>
      <input type="text" id="storeKey" name="storeKey" placeholder="key" ng-model="vm.storeKey" />
      <label for="storeValue">Value: </label>
      <input type="text" id="storeValue" name="storeValue" placeholder="value" ng-model="vm.storeValue" />
      <button ng-click="vm.store()">Store</button>
      <button ng-click="vm.clearAllStorage()">Clear All Storage</button>
    </div>
    <div>
      <label for="retrieveKey">Retrieve key: </label>
      <input type="text" id="retrieveKey" name="retrieveKey" placeholder="key" ng-model="vm.retrieveKey" />
      <button ng-click="vm.retrieve()">Retrieve</button>
      <div>
        Retrieved value: {{vm.retrievedItem}}
      </div>
    </div>
  </body>
</html>
